.header {
   font-family: 'Gloria Hallelujah', cursive;

}

.subheader {
   font-family: 'Margarine', cursive;
}

nav {
    background-color: #d5dae2;
    }
    
.page-footer {
    background-color: #d5dae2;
    font-family: 'Special Elite', cursive;
}

.title-page {
    font-family: 'Special Elite', cursive;
    font-size: 50px;
}


.menu {
    font-family: 'Special Elite', cursive;
}

.img {
    padding-left: 10px;
}