{% extends 'base.html'%} 
{% block titleimage %}
{% endblock %}
{% block content %}
<div class="container">
    <h3>Add Recipe</h3>
    <div class="row">
        <form action="{{url_for('insert_recipe')}}" method="POST" class="col s12">
            <div class="row">
                <div class="input-field col s12">
                    <i class="material-icons prefix">poll</i>
                    <select id="category" name="category_name" required>
                        <option value="" disabled selected>Choose Category - required</option>
                        {% for meals in meals %}
                        <option value="{{meals.category_name}}">{{meals.category_name}}</option>
                        {% endfor %}
                    </select>
                    <label>Recipe Category</label>
                </div>
            </div>
            <div class="row">
                <div class="input-field col s12">
                    <i class="material-icons prefix">assignment</i>
                    <input placeholder="" id="dish_name" name="dish_name" type="text" class="validate" data-length="20" required>
                    <label for="icon_prefix">Meal Name - required</label>
                </div>
            </div>
            <div class="row">
                <div class="input-field col s12">
                    <i class="material-icons prefix">subject</i>
                    <textarea placeholder="" name="dish_description" id="dish_description" class="materialize-textarea" required></textarea>
                    <label for="icon_telephone">Meal Description - required</label>
                </div>
            </div>
            <div class="row">
                <div class="input-field col s12">
                    <i class="material-icons prefix">subject</i>
                    <textarea placeholder="" name="short_describe" id="short_describe" class="materialize-textarea" data-length="40" required></textarea>
                    <label for="icon_telephone">Meal Short Description - required</label>
                </div>
            </div>
            <div class="row">
                <div class="switch">
                    <label>
                        <input id="is_vegan" name="is_vegan" type="checkbox">
                        <span class="lever"></span>
                        Is Vegan
                    </label>
                </div>
            </div>
            <div class="row">
                <div class="input-field col s12">
                    <i class="material-icons prefix">poll</i>
                    <select id="image" name="image" required>
                        <option value="" disabled selected>Choose Image - required</option>
                        {% for image in images %}
                        <option value="{{image.image_track}}">{{image.image_name}}</option>
                        {% endfor %}
                    </select>
                    <label>Recipe Category</label>
                </div>
            </div>
            <div class="row col s12 m12">
                <h5>Ingredients :</h5>
                    <div class="input-field col s12 m4">
                        <i class="material-icons prefix">subject</i>
                        <textarea placeholder="" name="ingredient_one" id="ingredient_one" class="materialize-textarea"></textarea>
                        <label for="icon_telephone">Ingredient 1</label>
                    </div>
                    <div class="input-field col s12 m4">
                        <i class="material-icons prefix">subject</i>
                        <textarea placeholder="" name="ingredient_two" id="ingredient_two" class="materialize-textarea"></textarea>
                        <label for="icon_telephone">Ingredient 2</label>
                    </div>
                    <div class="input-field col s12 m4">
                        <i class="material-icons prefix">subject</i>
                        <textarea placeholder="" name="ingredient_three" id="ingredient_three" class="materialize-textarea"></textarea>
                        <label for="icon_telephone">Ingredient 3</label>
                    </div>
            </div>
            <div class="row col s12 m12">
                    <div class="input-field col s12 m4">
                        <i class="material-icons prefix">subject</i>
                        <textarea placeholder="" name="ingredient_four" id="ingredient_four" class="materialize-textarea"></textarea>
                        <label for="icon_telephone">Ingredient 4</label>
                    </div>
                    <div class="input-field col s12 m4">
                        <i class="material-icons prefix">subject</i>
                        <textarea placeholder="" name="ingredient_five" id="ingredient_five" class="materialize-textarea"></textarea>
                        <label for="icon_telephone">Ingredient 5</label>
                    </div>
                    <div class="input-field col s12 m4">
                        <i class="material-icons prefix">subject</i>
                        <textarea placeholder="" name="ingredient_six" id="ingredient_six" class="materialize-textarea"></textarea>
                        <label for="icon_telephone">Ingredient 6</label>
                    </div>
            </div>
            <div class="row col s12 m12">
                <h5>Steps :</h5>
                    <div class="input-field col s12 m4">
                        <i class="material-icons prefix">subject</i>
                        <textarea placeholder="" name="step_one" id="step_one" class="materialize-textarea"></textarea>
                        <label for="icon_telephone">Step 1</label>
                    </div>
                    <div class="input-field col s12 m4">
                        <i class="material-icons prefix">subject</i>
                        <textarea placeholder="" name="step_two" id="step_two" class="materialize-textarea"></textarea>
                        <label for="icon_telephone">Step 2</label>
                    </div>
                    <div class="input-field col s12 m4">
                        <i class="material-icons prefix">subject</i>
                        <textarea placeholder="" name="step_three" id="step_three" class="materialize-textarea"></textarea>
                        <label for="icon_telephone">Step 3</label>
                    </div>
            </div>
            <div class="row col s12 m12">
                    <div class="input-field col s12 m4">
                        <i class="material-icons prefix">subject</i>
                        <textarea placeholder="" name="step_four" id="step_four" class="materialize-textarea"></textarea>
                        <label for="icon_telephone">Step 4</label>
                    </div>
                    <div class="input-field col s12 m4">
                        <i class="material-icons prefix">subject</i>
                        <textarea placeholder="" name="step_five" id="step_five" class="materialize-textarea"></textarea>
                        <label for="icon_telephone">Step 5</label>
                    </div>
                    <div class="input-field col s12 m4">
                        <i class="material-icons prefix">subject</i>
                        <textarea placeholder="" name="step_six" id="step_six" class="materialize-textarea"></textarea>
                        <label for="icon_telephone">Step 6</label>
                    </div>
            </div>
            <div class="row">
                <div class="input-field col s12">
                    <i class="material-icons prefix">subject</i>
                    <textarea name="author" id="author" class="materialize-textarea">{{ session.username }}</textarea>
                    <label for="icon_telephone">Author</label>
                </div>
            </div>
            <div class="row">
                <button class="btn waves-effect waves-light" type="submit" name="action">Add Recipe
                    <i class="material-icons right">playlist_add</i>
                </button>
            </div>
        </form>
    </div>
</div>
{% endblock %}
